spring:
  main:
    banner-mode: off
  application:
    name: "More Studymanager"

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${OAUTH2_CLIENT_ID:oauth2-pkce-client}
            client-secret: ${OAUTH2_CLIENT_SECRET:}
            provider: keycloak
            scope:
              - openid
              - profile
              - roles
            authorization-grant-type: authorization_code
        provider:
          keycloak:
            issuer-uri: ${OAUTH2_SERVER:https://auth.more.redlink.io/realms/Auth-Client-Test}
            user-name-attribute: preferred_username
      # This enables the client_credentials grant/flow
      resourceserver:
        jwt:
          issuer-uri: ${spring.security.oauth2.client.provider.keycloak.issuer-uri}

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DBNAME:more}
    username: ${POSTGRES_USER:more}
    password: ${POSTGRES_PASSWORD:more}
    name: ${POSTGRES_DBNAME:more}
    hikari:
      maximum-pool-size: 35

  quartz:
    job-store-type: memory
  session:
    store-type: redis
    redis:
      namespace: more:study-manager:session
    timeout: PT30M

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  flyway:
    out-of-order: true

server:
  forward-headers-strategy: framework
  error:
    include-exception: true
    include-message: always

elastic:
  host: ${ELASTIC_HOST:localhost}
  port: ${ELASTIC_PORT:9200}
  number_of_shards: 3

kibana:
  uri: ${KIBANA_URI:http://localhost:5601}

firebase:
  settingsFile: ${FIREBASE_SETTINGS:file:firebase-settings.json}

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      group:
        liveness:
          show-components: always
          include:
            - ping
            - diskSpace
        readiness:
          show-components: always

more:
  components:
    lime-survey-observation:
      username: '${LIME_ADMIN_USER:more-admin}'
      password: '${LIME_ADMIN_PWD:more-admin}'
      remoteUrl: '${LIME_URL:https://lime.platform-test.more.redlink.io/admin/remotecontrol}'
      surveyUrl: '${LIME_SURVEY_URL:https://lime.platform-test.more.redlink.io/index.php}'
  auth:
    global-roles:
      more-viewer:
        - 'more-viewer'
        - 'study-access' # deprecated
      more-operator:
        - 'more-operator'
        - 'study-creator' # deprecated
      more-admin:
        - 'more-admin'
