<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="io.redlink.more" level="DEBUG"/>
        <!-- <logger name="org.springframework.web" level="DEBUG"/> -->

        <!-- TRACE level will log the registered ComponentFactories on Startup -->
        <logger name="io.redlink.more.studymanager.configuration.ComponentFactoriesConfiguration" level="TRACE"/>
    </springProfile>

</configuration>
